MANIFEST
MANIFEST.bak
Makefile
Makefile.old
Build
Build.bat
META.*
MYMETA.*
.build/
_build/
cover_db/
blib/
inc/
.lwpcookies
.last_cover_stats
nytprof.out
pod2htm*.tmp
pm_to_blib
Dist-Zilla-Role-MetaCPANInterfacer-*
Dist-Zilla-Role-MetaCPANInterfacer-*.tar.gz
